---
title: Home
layout: default
section: blog
---

<div class="main">
    <a href="http://feeds.feedburner.com/DisqusCode" class="feed-link">Subscribe</a>
    <h1 class="heading">Recent Posts</h1>
    <ul class="post-list" id="post-list">
        {% for post in paginator.posts %}
            <li class="post" data-forum="{{ post.disqus_forum }}" data-link="{{ post.actual_url }}">
                <div class="author">
                    <img src="http://disqus.com/api/users/avatars/{{ post.disqus_username }}.jpg" class="avatars" alt="{{ post.disqus_username }}"/>
                </div>

                <h3><a href="{{ post.actual_url }}">{{ post.title }}</a></h3>
                <h4>Posted on <span class="month"><abbr>{{ post.date | date: '%B' }}</abbr></span> <span class="day">{{ post.date | date: '%d' }}</span> by <a href="http://disqus.com/{{ post.disqus_username }}/" class="profile-launcher" data-profile-username="{{ post.disqus_username}}">{{ post.disqus_username }}</a></h4>
                <div class="clear"></div>
                <div class="post-body">{{ post.content }}</div>
                <div class="clear"></div>
                <div id="disqus"><a class="dsq-comment-count" href="{{ post.actual_url }}#disqus_thread">View comments</a></div>
            </li>
        {% endfor %}
    </ul>

    <div id="pagination">
        <div id="previouspage">
            {% if paginator.previous_page %}
                <a href="/page{{ paginator.previous_page }}">« Previous</a> 
            {% endif %}
        </div>
        <div id="nextpage">
            {% if paginator.previous_page %}
                <a href="/page{{ paginator.next_page }}">Next »</a> 
            {% endif %}
        </div>
    </div>
</div>