<!DOCTYPE html> 
<html> 
<head> 
    <link rel="shortcut icon" href="http://mediacdn.disqus.com/1291160803/img/favicon.ico" type="image/vnd.microsoft.icon" /> 
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <title>DISQUS Code - {{ page.title }}</title> 
    
    <link href="http://mediacdn.disqus.com/1291160803/css/base.css" type="text/css" rel="stylesheet" /> 
    <link href="http://mediacdn.disqus.com/1291160803/css/dashboard.css" type="text/css" rel="stylesheet" /> 
    <link href="css/global.css" type="text/css" rel="stylesheet" /> 
    
    <script type="text/javascript" src="http://mediacdn.disqus.com/1291160803/js/src/lib/jquery.js"></script>
</head> 
<body> 
    <div id="header"> 
        <div id="global-nav"> 
            <div class="container"> 
                <ul> 
                    <li><a href="http://disqus.com/about/">About</a></li> 
                    <li><a href="http://docs.disqus.com/">Help</a></li> 
                    <li><a href="http://blog.disqus.com/">Blog</a></li> 
                </ul> 
            </div> 
        </div> 
        <div id="local-nav"> 
            <div class="container"> 
                <a href="http://disqus.com/" id="logo"><img src="http://mediacdn.disqus.com/1291160803/img/disqus-logo.png" alt="DISQUS" title="Disqus - Discover your community"/> CODE</a>
                
                <!-- <ul id="account-nav"> 
                    <li><a href="http://disqus.com/features/">Features</a></li>
                    <li><a href="http://disqus.com/explore/">Explore</a></li>
                    <li><a href="http://disqus.com/admin/register/">Sign Up</a></li>
                </ul>  -->
                
            </div> 
        </div> 
    </div> 
    
    <div id="content"> 
        <div class="container"> 
            <div id="dashboard" class="box clearfix"> 
                <div class="secondary"> 
                    <ul id="sidebar"> 
                        <li class="module"> 
                            <h3>The Engineers</h3> 
                            <ul class="people">
                                <li>
                                    <a href="http://disqus.com/sugarc0de/">
                                        <img src="http://disqus.com/api/users/avatars/sugarc0de.jpg" alt="">
                                        <cite>Mike Clarke</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://disqus.com/zeeg/">
                                        <img src="http://disqus.com/api/users/avatars/zeeg.jpg" alt="">
                                        <cite>David Cramer</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://disqus.com/bretthoerner/">
                                        <img src="http://disqus.com/api/users/avatars/bretthoerner.jpg" alt="">
                                        <cite>Brett Hoerner</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://disqus.com/antonkovalyov/">
                                        <img src="http://disqus.com/api/users/avatars/antonkovalyov.jpg" alt="">
                                        <cite>Anton Kovalyov</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://disqus.com/dz/">
                                        <img src="http://disqus.com/api/users/avatars/dz.jpg" alt="">
                                        <cite>David Zhou</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://disqus.com/benvinegar/">
                                        <img src="http://disqus.com/api/users/avatars/benvinegar.jpg" alt="">
                                        <cite>Ben Vinegar</cite>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://disqus.com/Jason/">
                                        <img src="http://disqus.com/api/users/avatars/Jason.jpg" alt="">
                                        <cite>Jason Yan</cite>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="module"> 
                            <h3>Open Source</h3>
                            <ul class="projects">
                                <li>
                                    <h3>Sentry</h3>
                                    <div class="about">
                                        <div class="img"><img src="http://dl.dropbox.com/u/116385/Screenshots/-hn-b4kda9dg.png"/></div>
                                        <p>Track exceptions in real-time.</p>
                                        <p>
                                            <a class="button small xtrasmall" href="https://github.com/dcramer/django-sentry">GitHub</a>
                                            <a class="button small xtrasmall" href="http://pypi.python.org/pypi/django-sentry">PyPi</a>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul> 
                </div> 
                <div class="primary"> 
                    {{ content }}
                </div> 
            </div> 
        </div> 
    </div> 
    
    <div id="footer"> 
        <div class="container"> 
            <p class="copyright">Copyright 2007-2010 &middot; <a href="/"class="disqus">DISQUS</a></p> 
            <ul> 
                <li><a href="http://disqus.com/about/">About</a></li> 
                <li><a href="http://disqus.com/features/">Features</a></li> 
                <li><a href="http://disqus.com/explore/">Explore</a></li> 
                <li><a href="http://disqus.com/addons/">Add-ons</a></li> 
                <li><a href="http://docs.disqus.com">Help</a></li> 
                <li><a href="http://blog.disqus.com">Blog</a></li> 
                <li><a href="http://disqus.com/api/">API</a></li> 
                <li><a href="http://disqus.com/jobs/">Jobs</a></li> 
                <li><a href="http://docs.disqus.com/kb/terms-and-policies/">Terms and Policies</a></li> 
            </ul> 
        </div> 
    </div> 
        <!-- Start Quantcast tag --> 
        <script type="text/javascript"> 
        _qoptions={
        qacct:"p-94WKwgUwZHlfo"
        };
        </script> 
        <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script> 
        <noscript> 
        <img src="http://pixel.quantserve.com/pixel/p-94WKwgUwZHlfo.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
        </noscript> 
        <!-- End Quantcast tag --> 
        <script type="text/javascript"> 
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script> 
        <script type="text/javascript"> 
        try {
        var pageTracker = _gat._getTracker("UA-1410476-6");
        pageTracker._trackPageview();
        } catch(err) {}</script> 
</body> 
</html>