---
layout: default
section: code
---

<div class="main" id="project">
    <h1>{{ page.title }}</h1>

    {{ page.summary }}

    <p>
        {% if page.github %}
            <a class="button small xtrasmall" href="{{ page.github }}">GitHub</a>
        {% endif %}
        {% if page.pypi %}
            <a class="button small xtrasmall" href="{{ page.pypi }}">PyPi</a>
        {% endif %}
        {% if page.bugtracker %}
            <a class="button small xtrasmall" href="{{ page.bugtracker }}">Issue Tracker</a>
        {% endif %}
        {% if page.usergroup %}
            <a class="button small xtrasmall" href="{{ page.usergroup }}">Google Group</a>
        {% else %}
            <a class="button small xtrasmall" href="https://groups.google.com/forum/#!forum/disqus-opensource">Google Group</a>
        {% endif %}
    </p>

    {{ content }}
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /**
        * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
        */
      var disqus_identifier = 'project-{{ page.title }}';
      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://disqus.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=davidcramer">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    
</div>